{# Liste danses #}

{% extends "CR32QuestionnaireBundle::layout_admin.html.twig" %}

{% block body %}
	<h1> Participants au tirage au sort </h1>

	{% for message in app.session.flashbag.get('success') %}
        <p class="alert alert-success">{{ message }}</p>
	{% endfor %}

	<span class="contact" data-contactid="{{id}}"> </span>

	<table class="table">
		<thead class="thead-light">
			<tr>
				<th scope="col"> Nom </th>
				<th scope="col"> Prénom </th>
				<th scope="col"> Tombola </th>
				<th scope="col"> Mot secret </th>
				<th scope="col"> Nom du club </th>
				<th scope="col"> Email</th>
			</tr>
		</thead>
		
		{% for contact in listContacts %}
			<tr  id="{{contact.id}}" > 
				<td> {{ contact.name}} </td>
				<td> {{ contact.surname}}</td>
				<td> {% if contact.tombola %} Inscrit {% else %} Non inscrit {% endif %}</td>

				<td> {% if contact.secret is empty %}  Non renseigné 
						{% else %}  {{ contact.secret }}
						{% endif %} </td>
				<td> {% if contact.club is empty %}  Non renseigné 
						{% else %}  {{ contact.club }}
						{% endif %} </td>

				<td> {% if contact.email is empty %} Non renseigné
						{% else %}  {{ contact.email }}
						{% endif %} </td>
			</tr>	
		{% endfor %}

	</table>

	<script
		  src="https://code.jquery.com/jquery-3.3.1.min.js"
		  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		  crossorigin="anonymous"></script>

	<script>
		var idContact = $('.contact').data('contactid');
		document.getElementById(idContact).className="bg-light";		

	</script>

{% endblock %}