{# Liste danses #}

{% extends "CR32QuestionnaireBundle::layout_admin.html.twig" %}

{% block body %}
	<h1> Résultat des votes </h1>

	{{ dump(danses)}}

	<nav class="nav justify-content-center">
		<a class="nav-link" href="{{ path('cr32_administration_danses')}}"> Tous </a>
		<a class="nav-link" href="{{ path('cr32_administration_danses', {'niveau': 1})}}"> Débutant </a>
		<a class="nav-link" href="{{ path('cr32_administration_danses', {'niveau': 2})}}"> Novice </a>
		<a class="nav-link" href="{{ path('cr32_administration_danses', {'niveau': 3})}}"> Intermédiaire </a>
		<a class="nav-link" href="{{ path('cr32_administration_danses', {'niveau': 4})}}"> Avancé </a>
	</nav>

	{% for message in app.session.flashbag.get('success') %}
	        <p class="alert alert-success">{{ message }}</p>
	{% endfor %}

	<table class="table">
		<thead class="thead-light">
			<tr>
				<th scope="col"> # </th>
				<th scope="col"> Titre </th>
				<th scope="col"> Niveau </th>
				<th scope="col"> Prénom </th>
				<th scope="col"> Nom </th>
				<th scope="col"> Contact </th>
				<th scope="col"> Modifier </th>
				<th scope="col"> Supprimer </th>
			</tr>
		</thead>
		
		{% for danse in listDanses %}
			<tr> 
				<td> {{ loop.index }}</td>
				<td> {{ danse.titre}} </td>
				<td> {{ danse.niveau}}</td>
				<td> {{ danse.contact.surname}} </td>
				<td> {{ danse.contact.name }} </td>
				<td> <a href="{{ path('cr32_administration_contacts', {'id': danse.contact.id}) }}"> <i class="fas fa-eye" style="color: blue;"></i>
				<td> <a href="{{ path('cr32_administration_danse_edit', {'id': danse.id, 'niveau':danse.niveau}) }}"> <i class="far fa-edit" style="color: blue;"></i> </a></td>
				<td> <a href="{{ path('cr32_administration_danse_delete', { 'id': danse.id, 'niveau':danse.niveau}) }}" onclick="return(confirm('Etes-vous sûr de vouloir supprimer cette entrée?'));"> <i class="fas fa-trash-alt" style="color: red;"></i> </a> </td>
			</tr>	
		{% endfor %}

	</table>

{% endblock %}