{# page d'acceuil #}

{% extends "::layout.html.twig" %}

{% block body %}
	<h1 class="text-center"> Danses à la demande </h1>
	<p class="text-center"> Bienvenue sur notre site de vote pour la playlist de notre bal, le 13 octobre 2018 </p>	
	<p> Pour voter, c'est simple ! il suffit de donner le nom d'une à quatre danses du niveau de votre choix. (Une seule danse par niveau) <br>
		La danse ayant le plus de vote, dans chaque niveau, sera ajoutée à la playlist de notre bal ! <br>
		Nous vous souhaitons un bon vote !</p>

	<div>
		{% for message in app.session.flashbag.get('noDanse') %}
	        <p class="alert alert-danger">{{ message }}</p>
	      {% endfor %}
		{{ form_start(form) }}

		{# Erreur du formulaire #}
		{{ form_errors(form) }}

		<div id="debutant">
			<p> Débutant </p>
			<p> {{form_widget(form.debutant)}} </p>
		</div>

		<div id="novice">
			<p> Novice </p>
			<p> {{form_widget(form.novice)}} </p>
		</div>

		<div id="intermediaire">
			<p> Intermediaire </p>
			<p> {{form_widget(form.intermediaire)}} </p>
		</div>

		<div id="avance">
			<p> Avancé </p>
			<p> {{form_widget(form.avance)}} </p>
		</div>

		{{form_row(form.envoyer, {'attr': {'class': 'float-right btn-secondary'}})}} <br>

		{{ form_rest(form)}}

	</div> <br>

{% endblock %}