{# page d'abonnement #}

{% extends "::layout.html.twig" %}

{% block body %}
	<h1 class="text-center"> Danses à la demande </h1>
	<p class="text-left"> Merci pour votre vote ! <br>
	Votre vote vous permet de participer à la tombola, merci de renseignez les champs suivant, si vous le souhaitez. </p>	

	<div>
		{{ form_start(form)}}

		{# Erreur du formulaire #}
		{{ form_errors(form) }}

		{{ form_row(form.name)}}
		{{ form_row(form.surname)}}
		{{ form_row(form.secret)}}
		{{ form_row(form.club)}}

		<input type="checkbox" name="subscription" id="subscription" onclick="subscribe()"/> <label for="subscription"> S'abonner à notre Country Rebell's Letter </label> <br>
		<p> En vous abonnant à la Country Rebell's Letter, vous recevrez les dernières chorégraphies enseignées dans notre club mais également la liste des bals et évènement country du mois. </p>

		<div id="email" style="display: none;">
			{{ form_row(form.email)}}
		</div>


		<div class="row">
			<div class="col">
				<a class="btn btn-danger" href="{{path('cr32_questionnaire_thanks')}}" role="button">Non merci</a>
			</div>
			<div class="col">
				{{ form_row(form.envoyer)}}
			</div>
		</div>

		{{ form_rest(form)}}

	</div>
	<br> <br>

		<script
		  src="https://code.jquery.com/jquery-3.3.1.min.js"
		  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		  crossorigin="anonymous"></script>

		 <script>	
		  	function subscribe(){
			  	if($('input[name=subscription]').is(':checked'))
			  	{
			  		$('#email').show();
			  		$('#cr32_contact_email').attr('required', 'true');
			  	}
			  	else{ 
			  		$('#email').hide();
			  	}
			 }
		</script>
{% endblock %}