<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<LINK REL="SHORTCUT ICON" href="{{ asset('bundles/cr32questionnaire/images/favicon.ico') }}">
	<title> {% block title %} Administration - Country Rebell's 32 {% endblock %} </title>

	{% block stylesheets %}
	    {# On charge le CSS de bootstrap 4 depuis le site directement #}
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

	    <link rel="stylesheet" href="{{ asset('bundles/cr32questionnaire/css/main.css')}}">

	{% endblock %}

</head>
<body>
	<div class="container-fluid">


		<div class="row">
			<div class="col">
				<a href="{{ path('cr32_questionnaire_home')}}">
					<img src="{{ asset('bundles/cr32questionnaire/images/logo.png') }}" alt="logo du club"/>
				</a>
			</div>

			<div class="col">
				<h2> Country Rebell's 32</h2>
			</div>
		</div>

		<div class="row">
			<nav class="col-3 sidebar side">
				<div class="sidebar-sticky">
		            <ul class="nav flex-column">
		              <li class="nav-item">
		                <a class="nav-link" href="{{ path('cr32_administration_danses')}}"> <i class="fas fa-home"></i> Danses </a>
		              </li>
		              <li class="nav-item">
		                <a class="nav-link" href="{{ path('cr32_administration_contacts')}}"> <i class="fas fa-users"></i> Contacts </a>
		              </li>
		              <li class="nav-item">
		                <a class="nav-link" href="{{ path('fos_user_profile_edit')}}"> <i class="fas fa-user"></i> Modifier votre Profil </a>
		              </li>
		              <li class="nav-item">
		                <a class="nav-link" href="{{ path('fos_user_change_password')}}"> <i class="fas fa-key"></i> Modifier votre mot de passe </a>
		              </li>
		            </ul>
		          </div>

					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					    Connecté en tant que {{ app.user.username }}
					    -
					    <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
					{% else %}
					    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
					{% endif %}

			</nav>

			<div class="col main">
				{% block body %}
				{% endblock %}
			</div>

		</div>
	</div>
</body>
</html>